global
  maxconn 4096

defaults
  mode tcp
  timeout connect 5s
  timeout client  50s
  timeout server  50s

frontend http_in
  bind *:80
  mode http
  option forwardfor
  http-request set-header X-Forwarded-Proto http

  acl path_api     path_beg /api/
  acl path_uploads path_beg /uploads/
  use_backend backend_srv if path_api or path_uploads
  default_backend frontend_srv

backend frontend_srv
  mode http
  server frontend frontend:3001 check

backend backend_srv
  mode http
  timeout server 300s
  timeout connect 5s
  acl path_api path_beg /api/
  http-request set-path %[path,regsub(^/api,,)] if path_api
  http-response add-header Access-Control-Allow-Origin "http://192.168.0.1" always
  http-response add-header Access-Control-Allow-Credentials "true" always
  http-response add-header Access-Control-Allow-Headers "Content-Type, Authorization" always
  http-response add-header Access-Control-Allow-Methods "GET, POST, PUT, DELETE, OPTIONS" always
  http-response replace-header Set-Cookie (.*) \1; SameSite=Lax
  server backend backend:3000 check

listen mysql
  bind *:3306
  mode tcp
  option tcplog
  balance roundrobin
  option tcp-check
  server galera1 galera1:3306 check inter 2s fall 2 rise 1
  server galera2 galera2:3306 check inter 2s fall 2 rise 1